<div class="cards-container">
  <div class="card" id="card1" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>ღომი</h3>
  </div>
  <div class="card" id="card2" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>ფხალი</h3>
  </div>
  <div class="card" id="card3" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>გურული ღვეზელი</h3>
  </div>
  <div class="card" id="card4" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>ხაშლამა</h3>
  </div>
  <div class="card" id="card5" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>კვახ კაკლიანი</h3>
  </div>
  <div class="card" id="card6" routerLink="/recipes">
    <div class="overlay"></div>
    <h3>ნაღერღიანი</h3>
  </div>
</div>
